{% extends 'base.html' %}

{% block content %}
    <p class="text-center">
        {{user.username}}
    </p>

    <div class="card">
        {% if request.user.id == user.id %}
        <div style="margin:10px">
            <a href="{% url 'post:post_create' %}" class="btn btn-success">Create Post</a>
        </div>
        {% endif %}
    {% for post in user.posts.all %}
    <a href="{% url 'post:post_detail' post.id post.slug %}" class="card-body">
        <h4>
             {{ post.title }}
        </h4>
        <p>
             {{ post.body|truncatewords:8 }}
        </p>
    </a>
    {% endfor %}
    </div>
{% endblock %}